:root {
    --font-size-xs: .75rem;
    --font-size-sm: .875rem;
    --font-size-default: 16px;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-family: 'URW Geometric', sans-serif;
    --font-family-mono: 'JetBrains Mono', monospace;
    --border-radius-xl: .625rem;
    --border-radius-lg: .5rem;
    --border-radius-default: .375rem;
    --border-radius-sm: .25rem;
    --border-radius-xs: .125rem;
}

.theme-dark {
    /* === colors === */
    --primary: #7758ED;
    --primary-hover: #8468EE;
    --primary-active: #9279F0;
    --default-color: #2C2E2F;
    --default-color-hover: #434546;
    --default-color-active: #5B5C5D;
    --info: #46A6FF;
    --info-hover: #58AEFF;
    --info-active: #7DC0FF;
    --success: #6FC475;
    --success-hover: #7DC982;
    --success-active: #8BCF90;
    --warning: #FFD765;
    --warning-hover: #FFDF83;
    --warning-active: #FFE7A2;
    --error: #F14647;
    --error-hover: #F25859;
    --error-active: #F36A6B;
    --pink: #eb2f96;
    --magenta: #eb2f96;
    --red: #f5222d;
    --volcano: #fa541c;
    --orange: #fa8c16;
    --yellow: #fadb14;
    --gold: #faad14;
    --cyan: #13c2c2;
    --lime: #a0d911;
    --green: #52c41a;
    --blue: #1890ff;
    --geekblue: #2f54eb;
    --purple: #722ed1;
    --dark-1: #1E1F23;
    --dark-2: #151718;
    --dark-3: #0D0C0F;
    --black-to-white-0: #000000;
    --black-to-white-1: #191919;
    --black-to-white-2: #333333;
    --black-to-white-3: #4c4c4c;
    --black-to-white-4: #666666;
    --black-to-white-5: #7f7f7f;
    --black-to-white-6: #999999;
    --black-to-white-7: #b2b2b2;
    --black-to-white-8: #cccccc;
    --black-to-white-9: #e5e5e5;
    --black-to-white-10: #ffffff;
    /* === elements === */
    --body-bg: var(--dark-1);
    --body-text: var(--black-to-white-8);
    --header-text: var(--black-to-white-9);
    --link-text: var(--primary);
    --link-text-hover: var(--primary-hover);
    --link-text-active: var(--primary-active);
    --link-text-disabled: var(--black-to-white-5);
    --caption-text: var(--black-to-white-6);
    --mark-bg: var(--warning);
    --selection-bg: var(--primary);
    --selection-text: var(--black-to-white-10);
    --alert-bg-info: var(--info);
    --alert-bg-success: var(--success);
    --alert-bg-warning: var(--warning);
    --alert-bg-error: var(--error);
    --alert-text: var(--black-to-white-0);
    --alert-text-description: var(--black-to-white-0);
    --alert-text-message: var(--black-to-white-0);
    --alert-icon: var(--black-to-white-0);
    --alert-close: var(--black-to-white-2);
    --alert-close-hover: var(--black-to-white-0);
    --anchor-text: var(--black-to-white-8);
    --anchor-ink-rail: var(--black-to-white-3);
    --anchor-ink-ball-bg: var(--dark-1);
    --anchor-ink-ball-border: var(--primary);
    --anchor-link-text: var(--black-to-white-8);
    --anchor-link-text-active: var(--primary);
    --animation-wave-box-shadow: var(--primary);
    --avatar-text: var(--black-to-white-10);
    --avatar-bg: var(--dark-3);
    --avatar-border: var(--dark-1);
    --backtop-text: var(--black-to-white-10);
    --backtop-bg: var(--dark-3);
    --backtop-hover-bg: var(--primary);
    --badge-text: var(--black-to-white-8);
    --badge-count-text: var(--black-to-white-0);
    --badge-count-bg: var(--error);
    --badge-dot-bg: var(--error);
    --badge-status-text: var(--black-to-white-8);
    --badge-status-success-bg: var(--success);
    --badge-status-processing-bg: var(--info);
    --badge-status-error-bg: var(--error);
    --badge-status-warning-bg: var(--warning);
    --badge-status-default-bg: var(--black-to-white-8);
    --badge-status-pink-bg: var(--pink);
    --badge-status-magenta-bg: var(--magenta);
    --badge-status-red-bg: var(--red);
    --badge-status-volcano-bg: var(--volcano);
    --badge-status-orange-bg: var(--orange);
    --badge-status-yellow-bg: var(--yellow);
    --badge-status-gold-bg: var(--gold);
    --badge-status-cyan-bg: var(--cyan);
    --badge-status-lime-bg: var(--lime);
    --badge-status-green-bg: var(--green);
    --badge-status-blue-bg: var(--blue);
    --badge-status-geekblue-bg: var(--geekblue);
    --badge-status-purple-bg: var(--purple);
    --ribbon-corner: var(--black-to-white-0);
    --ribbon-corner-after: rgba(0, 0, 0, 0.25);
    --ribbon-text: var(--black-to-white-0);
    --ribbon-bg: var(--black-to-white-8);
    --ribbon-pink-bg: var(--pink);
    --ribbon-magenta-bg: var(--magenta);
    --ribbon-red-bg: var(--red);
    --ribbon-volcano-bg: var(--volcano);
    --ribbon-orange-bg: var(--orange);
    --ribbon-yellow-bg: var(--yellow);
    --ribbon-gold-bg: var(--gold);
    --ribbon-cyan-bg: var(--cyan);
    --ribbon-lime-bg: var(--lime);
    --ribbon-green-bg: var(--green);
    --ribbon-blue-bg: var(--blue);
    --ribbon-geekblue-bg: var(--geekblue);
    --ribbon-purple-bg: var(--purple);
    --breadcrumb-text: var(--black-to-white-5);
    --breadcrumb-last-text: var(--black-to-white-8);
    --breadcrumb-link-text: var(--primary);
    --breadcrumb-link-last-text: var(--primary);
    --breadcrumb-link-text-hover: var(--primary-hover);
    --breadcrumb-separator: var(--black-to-white-5);
    --button-before-bg: var(--black-to-white-0);
    --button-bg: var(--default-color);
    --button-text: var(--black-to-white-8);
    --button-bg-hover: var(--default-color-hover);
    --button-text-hover: var(--black-to-white-10);
    --button-bg-active: var(--default-color-active);
    --button-text-active: var(--black-to-white-10);
    --button-bg-disabled: var(--default-color);
    --button-text-disabled: var(--black-to-white-5);
    --button-primary-bg: var(--primary);
    --button-primary-text: var(--black-to-white-10);
    --button-primary-bg-hover: var(--primary-hover);
    --button-primary-text-hover: var(--black-to-white-10);
    --button-primary-bg-active: var(--primary-active);
    --button-primary-text-active: var(--black-to-white-10);
    --button-primary-bg-disabled: var(--primary);
    --button-primary-text-disabled: var(--black-to-white-8);
    --button-ghost-bg: transparent;
    --button-ghost-text: var(--black-to-white-10);
    --button-ghost-bg-hover: var(--default-color);
    --button-ghost-text-hover: var(--black-to-white-10);
    --button-ghost-bg-active: var(--default-color-hover);
    --button-ghost-text-active: var(--black-to-white-10);
    --button-ghost-bg-disabled: transparent;
    --button-ghost-text-disabled: var(--black-to-white-5);
    --button-ghost-primary-bg: transparent;
    --button-ghost-primary-text: var(--primary);
    --button-ghost-primary-bg-hover: var(--primary);
    --button-ghost-primary-text-hover: var(--black-to-white-10);
    --button-ghost-primary-bg-active: var(--primary-hover);
    --button-ghost-primary-text-active: var(--black-to-white-10);
    --button-ghost-primary-bg-disabled: transparent;
    --button-ghost-primary-text-disabled: var(--black-to-white-5);
    --button-ghost-danger-bg: transparent;
    --button-ghost-danger-text: var(--error);
    --button-ghost-danger-bg-hover: var(--error);
    --button-ghost-danger-text-hover: var(--black-to-white-10);
    --button-ghost-danger-bg-active: var(--error-hover);
    --button-ghost-danger-text-active: var(--black-to-white-10);
    --button-ghost-danger-bg-disabled: transparent;
    --button-ghost-danger-text-disabled: var(--black-to-white-5);
    --button-dashed-bg: transparent;
    --button-dashed-text: var(--black-to-white-8);
    --button-dashed-border: var(--black-to-white-5);
    --button-dashed-bg-hover: transparent;
    --button-dashed-text-hover: var(--black-to-white-10);
    --button-dashed-border-hover: var(--primary);
    --button-dashed-bg-active: transparent;
    --button-dashed-text-active: var(--black-to-white-10);
    --button-dashed-border-active: var(--primary);
    --button-dashed-bg-disabled: transparent;
    --button-dashed-text-disabled: var(--black-to-white-5);
    --button-dashed-border-disabled: var(--black-to-white-3);
    --button-danger-bg: transparent;
    --button-danger-text: var(--error);
    --button-danger-border: var(--error);
    --button-danger-bg-hover: transparent;
    --button-danger-text-hover: var(--error-hover);
    --button-danger-border-hover: var(--error-hover);
    --button-danger-bg-active: transparent;
    --button-danger-text-active: var(--error-active);
    --button-danger-border-active: var(--error-active);
    --button-danger-bg-disabled: transparent;
    --button-danger-text-disabled: var(--error);
    --button-danger-border-disabled: var(--error);
    --button-danger-primary-bg: var(--error);
    --button-danger-primary-text: var(--black-to-white-10);
    --button-danger-primary-bg-hover: var(--error-hover);
    --button-danger-primary-text-hover: var(--black-to-white-10);
    --button-danger-primary-bg-active: var(--error-active);
    --button-danger-primary-text-active: var(--black-to-white-10);
    --button-danger-primary-bg-disabled: var(--error);
    --button-danger-primary-text-disabled: var(--black-to-white-8);
    --button-danger-link-bg: transparent;
    --button-danger-link-text: var(--error);
    --button-danger-link-bg-hover: transparent;
    --button-danger-link-text-hover: var(--error-hover);
    --button-danger-link-bg-active: transparent;
    --button-danger-link-text-active: var(--error-active);
    --button-danger-link-bg-disabled: transparent;
    --button-danger-link-text-disabled: var(--error);
    --button-link-bg: transparent;
    --button-link-text: var(--primary);
    --button-link-bg-hover: transparent;
    --button-link-text-hover: var(--primary-hover);
    --button-link-bg-active: transparent;
    --button-link-text-active: var(--primary-active);
    --button-link-bg-disabled: transparent;
    --button-link-text-disabled: var(--primary);
    --button-text-bg: transparent;
    --button-text-text: var(--black-to-white-8);
    --button-text-bg-hover: transparent;
    --button-text-text-hover: var(--black-to-white-9);
    --button-text-bg-active: transparent;
    --button-text-text-active: var(--black-to-white-10);
    --button-text-bg-disabled: transparent;
    --button-text-text-disabled: var(--black-to-white-5);
    /* calendar place */
    --card-bg: var(--dark-2);
    --card-text: var(--black-to-white-8);
    --card-border: var(--primary);
    --card-divider: var(--black-to-white-3);
    --card-head-text: var(--black-to-white-10);
    --card-head-tabs-text: var(--black-to-white-8);
    --card-extra-text: var(--black-to-white-8);
    --card-hoverable-box-shadow: 0 1px 2px -2px var(--primary-active), 0 3px 6px 0 var(--primary-hover), 0 5px 12px 4px var(--primary);
    --card-grid-box-shadow: 1px 0 0 0 #f0f0f0, 0 1px 0 0 #f0f0f0, 1px 1px 0 0 #f0f0f0, 1px 0 0 0 #f0f0f0 inset, 0 1px 0 0 #f0f0f0 inset;
    --card-grid-hoverable-box-shadow: 0 1px 2px -2px var(--primary-active), 0 3px 6px 0 var(--primary-hover), 0 5px 12px 4px var(--primary);
    --card-actions-bg: var(--dark-2);
    --card-actions-text: var(--black-to-white-8);
    --card-actions-hover-text: var(--primary);
    --card-actions-icon: var(--black-to-white-8);
    --card-actions-hover-icon: var(--primary);
    --card-inner-head-bg: var(--dark-1);
    --card-inner-body-bg: var(--dark-1);
    --card-inner-extra-bg: var(--dark-1);
    --card-inner-actions-bg: var(--dark-1);
    --card-meta-title-text: var(--black-to-white-10);
    --card-meta-description-text: var(--black-to-white-8);
    --card-loading-bg: linear-gradient(90deg, var(--black-to-white-2), var(--black-to-white-3));
    /* carousel place */
    /* cascader place */
    --checkbox-inner: var(--primary);
    --checkbox-indeterminate-inner: var(--primary);
    --checkbox-disabled-inner: var(--black-to-white-5);
    --checkbox-indeterminate-disabled-inner: var(--black-to-white-5);
    --checkbox-bg: var(--dark-3);
    --checkbox-indeterminate-bg: var(--dark-3);
    --checkbox-disabled-bg: var(--dark-3);
    --checkbox-checked-bg: var(--dark-3);
    --checkbox-hover-bg: var(--black-to-white-0);
    --checkbox-text: var(--black-to-white-8);
    --checkbox-disabled-text: var(--black-to-white-5);
    --collapse-text: var(--black-to-white-8);
    --collapse-bg: var(--dark-2);
    --collapse-content-bg: var(--dark-2);
    --collapse-header-text: var(--black-to-white-10);
    --collapse-disabled-header-text: var(--black-to-white-5);
    --collapse-content-text: var(--black-to-white-8);
    /* comment place */
    /* descriptions place */
    --divider-text: var(--black-to-white-8);
    --divider-header-text: var(--black-to-white-10);
    --divider: var(--black-to-white-3);
    --drawer-left-box-shadow: 6px 0 16px -8px rgba(0, 0, 0, 0.08), 9px 0 28px 0 rgba(0, 0, 0, 0.05), 12px 0 48px 16px rgba(0, 0, 0, 0.03);
    --drawer-right-box-shadow: -6px 0 16px -8px rgba(0, 0, 0, 0.08), -9px 0 28px 0 rgba(0, 0, 0, 0.05), -12px 0 48px 16px rgba(0, 0, 0, 0.03);
    --drawer-top-box-shadow: 0 6px 16px -8px rgba(0, 0, 0, 0.08), 0 9px 28px 0 rgba(0, 0, 0, 0.05), 0 12px 48px 16px rgba(0, 0, 0, 0.03);
    --drawer-bottom-box-shadow: 0 -6px 16px -8px rgba(0, 0, 0, 0.08), 0 -9px 28px 0 rgba(0, 0, 0, 0.05), 0 -12px 48px 16px rgba(0, 0, 0, 0.03);
    --drawer-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    --drawer-title-text: var(--black-to-white-10);
    --drawer-content-text: var(--black-to-white-8);
    --drawer-bg: var(--dark-1);
    --drawer-content-bg: var(--dark-1);
    --drawer-header-bg: var(--dark-1);
    --drawer-header-text: var(--black-to-white-10);
    --drawer-close: var(--error);
    --drawer-close-hover: var(--error-hover);
    --drawer-mask-bg: rgba(0, 0, 0, .3);
    --dropdown-text: var(--black-to-white-10);
    --dropdown-bg: var(--black-to-white-0);
    --dropdown-danger-text: var(--error);
    --dropdown-danger-hover-text: var(--black-to-white-10);
    --dropdown-danger-hover-bg: var(--error);
    --dropdown-arrow: var(--black-to-white-0);
    --dropdown-top-arrow-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07);
    --dropdown-bottom-arrow-box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.06);
    --dropdown-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    --dropdown-item-text: var(--black-to-white-10);
    --dropdown-item-divider: var(--black-to-white-2);
    --dropdown-item-expand-icon: inherit;
    --dropdown-item-group-title-text: var(--primary);
    --dropdown-hover-item-bg: var(--dark-2);
    --dropdown-selected-item-bg: var(--primary);
    --dropdown-selected-item-text: var(--black-to-white-10);
    --dropdown-disabled-item-text: var(--black-to-white-5);
    --dropdown-disabled-hover-item-text: var(--black-to-white-5);
    --dropdown-disabled-hover-item-bg: var(--black-to-white-0);
    --dropdown-disabled-submenu-bg: var(--black-to-white-0);
    --dropdown-disabled-submenu-text: var(--black-to-white-5);
    --dropdown-selected-submenu-bg: var(--primary);
    --dropdown-selected-submenu-text: var(--black-to-white-10);
    --empty-text: var(--black-to-white-8);
    --empty-shadow: var(--dark-3);
    --empty-inside-box: var(--primary);
    --empty-paper: var(--black-to-white-10);
    --empty-box-and-strings: var(--primary-active);
    --empty-cloud: var(--black-to-white-10);
    --empty-shapes: var(--primary);

    --form-item-has-error-bg: var(--black-to-white-0);
    --form-item-has-error-text: var(--error);
    --form-item-label: var(--black-to-white-8);

    --image-placeholder-bg: var(--dark-2);
    --image-mask-bg: rgba(0, 0, 0, 0.5);
    --image-mask-text: var(--black-to-white-10);
    --image-preview-operations-text: var(--primary);
    --image-preview-operations-bg: rgba(0, 0, 0, 0.1);
    --image-preview-disabled-operations-text: var(--black-to-white-5);
    --image-preview-switch-bg: rgba(0, 0, 0, 0.5);
    --image-preview-switch-text: var(--black-to-white-10);
    --image-preview-disabled-switch-text: var(--black-to-white-5);
    --input-bg: var(--black-to-white-0);
    --input-text: var(--black-to-white-10);
    --input-icon: var(--black-to-white-10);
    --input-icon-hover: var(--primary);
    --input-disabled-bg: var(--black-to-white-0);
    --input-disabled-text: var(--black-to-white-5);
    --input-placeholder: var(--black-to-white-3);
    --input-clear-icon: var(--black-to-white-4);
    --input-clear-icon-hover: var(--error);
    --input-textarea-count-text: var(--black-to-white-8);
    --input-number-bg: var(--black-to-white-0);
    --input-number-text: var(--black-to-white-10);
    --input-number-inner: var(--black-to-white-10);
    --input-number-inner-hover: var(--primary);
    --input-number-disabled-bg: var(--black-to-white-0);
    --input-number-disabled-text: var(--black-to-white-5);
    --input-number-placeholder: var(--black-to-white-3);
    --input-number-out-of-range-text: var(--error);
    --layout-bg: var(--dark-1);
    --layout-header-text: var(--black-to-white-10);
    --layout-sider-bg: var(--dark-1);
    --layout-sider-trigger-bg: var(--dark-3);
    --layout-sider-trigger-text: var(--black-to-white-10);
    --layout-sider-trigger-hover-bg: rgba(255, 255, 255, 0.1);
    --list-text: var(--black-to-white-8);
    --list-item-text: var(--black-to-white-8);
    --list-item-bg: var(--dark-2);
    --list-item-hover-text: var(--black-to-white-10);
    --list-item-hover-bg: var(--dark-1);
    --list-item-meta-content-text: var(--black-to-white-8);
    --list-item-meta-title-text: var(--black-to-white-10);
    --list-item-meta-title-hover-text: var(--primary);
    --list-item-meta-description-text: var(--black-to-white-8);
    --list-item-action-text: var(--black-to-white-10);
    --list-item-action-bg: transparent;
    --list-border: var(--black-to-white-4);
    /* mentions place */
    --menu-danger-item-text: var(--error);
    --menu-danger-item-hover-text: var(--error);
    --menu-danger-item-active-bg: var(--dark-2);
    --menu-danger-item-selected-text: var(--error);

    --menu-text: var(--black-to-white-10);
    --menu-bg: var(--dark-3);
    --menu-item-group-title-text: var(--primary);
    --menu-submenu-selected-text: var(--black-to-white-10);
    --menu-item-active-bg: var(--dark-3);
    --menu-item-link-text: var(--black-to-white-10);
    --menu-item-link-hover-text: var(--black-to-white-10);
    --menu-divider: var(--black-to-white-3);
    --menu-item-selected-bg: var(--primary);
    --menu-item-selected-text: var(--black-to-white-10);
    --menu-item-hover-bg: var(--dark-2);
    --menu-item-hover-text: var(--black-to-white-10);
    --menu-item-disabled-text: var(--black-to-white-5);
    --menu-expand-icon: inherit;
    --menu-expand-icon-hover: inherit;

    --message-text: var(--black-to-white-10);
    --message-bg: var(--black-to-white-0);
    --message-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    --message-success-icon: var(--success);
    --message-error-icon: var(--error);
    --message-warning-icon: var(--warning);
    --message-info-icon: var(--info);

    --modal-bg: var(--dark-2);
    --modal-text: var(--black-to-white-8);
    --modal-header-bg: var(--dark-2);
    --modal-header-text: var(--black-to-white-8);
    --modal-mask-bg: rgba(0, 0, 0, 0.5);
    --modal-title-text: var(--black-to-white-10);
    --modal-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    --modal-close: var(--error);
    --modal-close-hover: var(--error-hover);
    --modal-error-icon: var(--error);
    --modal-warning-icon: var(--warning);
    --modal-info-icon: var(--info);
    --modal-success-icon: var(--success);

    --notification-text: var(--black-to-white-10);
    --notification-bg: var(--black-to-white-0);
    --notification-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    --notification-success-icon:  var(--success);
    --notification-info-icon: var(--info);
    --notification-warning-icon: var(--warning);
    --notification-error-icon: var(--error);
    --notification-close-icon: var(--error);
    --notification-close-icon-hover: var(--error-hover);

    --pagination-text: var(--black-to-white-10);
    --pagination-item-bg: var(--black-to-white-0);
    --pagination-item-text: var(--black-to-white-8);
    --pagination-item-hover-bg: var(--black-to-white-0);
    --pagination-item-hover-text: var(--black-to-white-10);
    --pagination-item-active-bg: var(--black-to-white-0);
    --pagination-item-active-text: var(--primary);
    --pagination-item-hover-active-bg: var(--black-to-white-0);
    --pagination-item-hover-active-text: var(--primary-active);
    --pagination-item-disabled-text: var(--black-to-white-5);
    --pagination-quick-jumper-placeholder-text: var(--black-to-white-5);

    --picker-text: var(--black-to-white-10);
    --picker-bg: var(--black-to-white-0);
    --picker-disabled-text: var(--black-to-white-5);
    --picker-disabled-bg: var(--black-to-white-0);
    --picker-placeholder-text: var(--black-to-white-3);
    --picker-suffix-text: var(--primary);
    --picker-clear-text: var(--error);
    --picker-clear-hover-text: var(--error-hover);
    --picker-clear-bg: var(--black-to-white-0);
    --picker-separator-text: var(--black-to-white-8);
    --picker-active-bar-bg: var(--primary);
    --picker-dropdown-text: var(--black-to-white-8);
    --picker-ranges-text: var(--primary);
    --picker-ranges-bg: var(--dark-2);
    --picker-range-arrow-box-shadow: 2px -2px 6px rgba(0, 0, 0, 0.06);
    --picker-panel-bg: var(--dark-3);
    --picker-panel-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    --picker-header-text: var(--black-to-white-10);
    --picker-header-hover-text: var(--primary);
    --picker-content-header-text: var(--primary);
    --picker-cell-text: var(--black-to-white-5);
    --picker-cell-view-text: var(--black-to-white-8);
    --picker-cell-bg: var(--black-to-white-0);
    --picker-cell-hover-bg: var(--dark-1);
    --picker-cell-hover-text: var(--black-to-white-10);
    --picker-today-text: var(--primary-active);
    --picker-cell-selected-text: var(--primary);
    --picker-cell-selected-bg: var(--black-to-white-0);
    --picker-start-end-range-bg: var(--black-to-white-0);
    --picker-start-end-range-hover-bg: var(--dark-1);
    --picker-cell-disabled-text: var(--black-to-white-2);
    --picker-cell-disabled-bg: rgba(0, 0, 0, 0.04);
    --picker-btn-text: var(--primary);
    --picker-btn-hover-text: var(--primary-hover);
    --picker-btn-active-text: var(--primary-active);
    --picker-btn-disabled-text: var(--black-to-white-5);
    --picker-time-text: var(--black-to-white-8);
    --picker-time-hover-bg: var(--dark-1);
    --picker-time-selected-bg: var(--black-to-white-0);
    --picker-time-disabled-text: var(--black-to-white-3);
    --picker-time-panel-column-active-bg: var(--black-to-white-2);
    --picker-week-hover-bg: var(--dark-1);
    --picker-week-selected-bg: var(--black-to-white-0);
    --picker-week-row-selected-bg: var(--dark-2);
    --picker-week-selected-text: var(--primary);

    --popover-bg: var(--black-to-white-0);
    --popover-text: var(--black-to-white-8);
    --popover-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    --popover-title-text: var(--black-to-white-10);
    --popover-icon: var(--warning);
    --popover-top-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07);
    --popover-bottom-box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.06);
    --popover-left-box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.07);
    --popover-right-box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.07);
    --popover-pink: var(--pink);
    --popover-magenta: var(--magenta);
    --popover-red: var(--red);
    --popover-volcano: var(--volcano);
    --popover-orange: var(--orange);
    --popover-yellow: var(--yellow);
    --popover-gold: var(--gold);
    --popover-cyan: var(--cyan);
    --popover-lime: var(--lime);
    --popover-green: var(--green);
    --popover-blue: var(--blue);
    --popover-geekblue: var(--geekblue);
    --popover-purple: var(--purple);

    --radio-text: var(--black-to-white-8);
    --radio-group-text: var(--black-to-white-8);
    --radio-wrapper-text: var(--black-to-white-8);
    --radio-inner-bg: var(--dark-3);
    --radio-inner-after-bg: var(--primary);
    --radio-inner-disabled-bg: var(--dark-3);
    --radio-inner-disabled-text: var(--black-to-white-5);
    --radio-inner-disabled-after-bg: var(--black-to-white-3);
    --radio-button-wrapper-bg: var(--dark-3);
    --radio-button-wrapper-text: var(--black-to-white-8);

    --select-bg: var(--black-to-white-0);
    --select-text: var(--black-to-white-10);
    --select-placeholder-text: var(--black-to-white-3);
    --select-disabled-bg: var(--black-to-white-0);
    --select-disabled-text: var(--black-to-white-5);
    --select-selection-item-text: var(--primary);
    --select-selection-item-bg: var(--black-to-white-1);
    --select-selection-disabled-item-text: var(--black-to-white-5);
    --select-close-icon-text: var(--black-to-white-10);
    --select-close-icon-hover-text: var(--error);
    --select-close-icon-bg: transparent;
    --select-close-icon-hover-bg: transparent;
    --select-arrow-text: inherit;
    --select-clear-text: var(--error);
    --select-clear-hover-text: var(--error-hover);
    --select-clear-bg: var(--black-to-white-0);
    --select-dropdown-bg: var(--dark-3);
    --select-dropdown-text: var(--black-to-white-10);
    --select-dropdown-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    --select-dropdown-empty-text: var(--black-to-white-8);
    --select-dropdown-item-text: var(--black-to-white-8);
    --select-dropdown-item-active-bg: var(--dark-2);
    --select-dropdown-item-selected-bg: var(--primary);
    --select-dropdown-item-selected-text: var(--black-to-white-10);
    --select-dropdown-item-selected-check: var(--black-to-white-0);
    --select-dropdown-item-group-text: var(--primary);
    --select-dropdown-item-disabled-text: var(--black-to-white-5);
    --select-dropdown-item-disabled-bg: var(--dark-2);

    --spin-color: var(--primary);
    --spin-bg: var(--dark-3);
    --spin-tip-text: var(--black-to-white-8);
    --spin-dot-bg: var(--primary);

    --table-bg: var(--dark-2);
    --table-placeholder-hover-bg: var(--dark-2);
    --table-text: var(--black-to-white-8);
    --table-header-bg: var(--dark-3);
    --table-header-hover-bg: var(--dark-3);
    --table-header-text: var(--primary);
    --table-footer-bg: var(--dark-3);
    --table-footer-text: var(--primary);
    --table-filter-trigger: var(--black-to-white-7);
    --table-filter-trigger-hover: var(--black-to-white-9);
    --table-filter-trigger-hover-bg: transparent;
    --table-sorter: var(--black-to-white-7);
    --table-sorter-hover: var(--black-to-white-9);
    --table-sorter-active: var(--primary);
    --table-filter-trigger-active: var(--primary);
    --table-column-sort-bg: var(--dark-2);
    --table-column-header-sort-bg: var(--dark-3);
    --table-search-icon: var(--primary);
    --table-search-divider: var(--black-to-white-3);

    --table-row-hover-bg: var(--dark-1);

    --table-dropdown-bg: var(--black-to-white-0);
    --table-dropdown-text: var(--black-to-white-10);
    --table-dropdown-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);

    --tag-text: var(--black-to-white-10);
    --tag-bg: var(--black-to-white-1);
    --tag-close-icon-text: var(--black-to-white-10);
    --tag-close-icon-hover-text: var(--error);
    --tag-close-icon-bg: rgba(0, 0, 0, .3);
    --tag-close-icon-hover-bg: rgba(0, 0, 0, .5);
    --tag-color-text: var(--black-to-white-10);
    --tag-checkable-hover-text: var(--primary);
    --tag-checkable-active-text: var(--black-to-white-10);
    --tag-checkable-checked-bg: var(--primary);
    --tag-checkable-active-bg: var(--primary-hover);
    --tag-pink-bg: var(--pink);
    --tag-pink-text: var(--black-to-white-1);
    --tag-pink-inverse-bg: var(--black-to-white-1);
    --tag-pink-inverse-text: var(--pink);
    --tag-magenta-bg: var(--magenta);
    --tag-magenta-text: var(--black-to-white-1);
    --tag-magenta-inverse-bg: var(--black-to-white-1);
    --tag-magenta-inverse-text: var(--magenta);
    --tag-red-bg: var(--red);
    --tag-red-text: var(--black-to-white-1);
    --tag-red-inverse-bg: var(--black-to-white-1);
    --tag-red-inverse-text: var(--red);
    --tag-volcano-bg: var(--volcano);
    --tag-volcano-text: var(--black-to-white-1);
    --tag-volcano-inverse-bg: var(--black-to-white-1);
    --tag-volcano-inverse-text: var(--volcano);
    --tag-orange-bg: var(--orange);
    --tag-orange-text: var(--black-to-white-1);
    --tag-orange-inverse-bg: var(--black-to-white-1);
    --tag-orange-inverse-text: var(--orange);
    --tag-yellow-bg: var(--yellow);
    --tag-yellow-text: var(--black-to-white-1);
    --tag-yellow-inverse-bg: var(--black-to-white-1);
    --tag-yellow-inverse-text: var(--yellow);
    --tag-gold-bg: var(--gold);
    --tag-gold-text: var(--black-to-white-1);
    --tag-gold-inverse-bg: var(--black-to-white-1);
    --tag-gold-inverse-text: var(--gold);
    --tag-cyan-bg: var(--cyan);
    --tag-cyan-text: var(--black-to-white-1);
    --tag-cyan-inverse-bg: var(--black-to-white-1);
    --tag-cyan-inverse-text: var(--cyan);
    --tag-lime-bg: var(--lime);
    --tag-lime-text: var(--black-to-white-1);
    --tag-lime-inverse-bg: var(--black-to-white-1);
    --tag-lime-inverse-text: var(--lime);
    --tag-green-bg: var(--green);
    --tag-green-text: var(--black-to-white-1);
    --tag-green-inverse-bg: var(--black-to-white-1);
    --tag-green-inverse-text: var(--green);
    --tag-blue-bg: var(--blue);
    --tag-blue-text: var(--black-to-white-1);
    --tag-blue-inverse-bg: var(--black-to-white-1);
    --tag-blue-inverse-text: var(--blue);
    --tag-geekblue-bg: var(--geekblue);
    --tag-geekblue-text: var(--black-to-white-1);
    --tag-geekblue-inverse-bg: var(--black-to-white-1);
    --tag-geekblue-inverse-text: var(--geekblue);
    --tag-purple-bg: var(--purple);
    --tag-purple-text: var(--black-to-white-1);
    --tag-purple-inverse-bg: var(--black-to-white-1);
    --tag-purple-inverse-text: var(--purple);
    --tag-success-bg: var(--success);
    --tag-success-text: var(--black-to-white-1);
    --tag-processing-bg: var(--info);
    --tag-processing-text: var(--black-to-white-1);
    --tag-error-bg: var(--error);
    --tag-error-text: var(--black-to-white-1);
    --tag-warning-bg: var(--warning);
    --tag-warning-text: var(--black-to-white-1);

    --tooltip-text: var(--black-to-white-10);
    --toltip-color-text: var(--black-to-white-0);
    --tooltip-bg: var(--black-to-white-0);
    --tooltip-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    --tooltip-top-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07);
    --tooltip-right-box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.07);
    --tooltip-left-box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.07);
    --tooltip-bottom-box-shadow: -3px -3px 7px rgba(0, 0, 0, 0.07);
    --tooltip-pink: var(--pink);
    --tooltip-magenta: var(--magenta);
    --tooltip-red: var(--red);
    --tooltip-volcano: var(--volcano);
    --tooltip-orange: var(--orange);
    --tooltip-yellow: var(--yellow);
    --tooltip-gold: var(--gold);
    --tooltip-cyan: var(--cyan);
    --tooltip-lime: var(--lime);
    --tooltip-green: var(--green);
    --tooltip-blue: var(--blue);
    --tooltip-geekblue: var(--geekblue);
    --tooltip-purple: var(--purple);
}

.theme-light {

}