.ant-drawer {
    position: fixed;
    z-index: 1000;
    width: 0;
    height: 100%;
    transition: transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1), height 0s ease 0.3s, width 0s ease 0.3s;
}

.ant-drawer > * {
    transition: transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1), box-shadow 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
}

.ant-drawer-content-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

.ant-drawer .ant-drawer-content {
    width: 100%;
    height: 100%;
}

.ant-drawer-left,
.ant-drawer-right {
    top: 0;
    width: 0;
    height: 100%;
}

.ant-drawer-left .ant-drawer-content-wrapper,
.ant-drawer-right .ant-drawer-content-wrapper {
    height: 100%;
}

.ant-drawer-left.ant-drawer-open,
.ant-drawer-right.ant-drawer-open {
    width: 100%;
    transition: transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
}

.ant-drawer-left {
    left: 0;
}

.ant-drawer-left .ant-drawer-content-wrapper {
    left: 0;
}

.ant-drawer-left.ant-drawer-open .ant-drawer-content-wrapper {
    box-shadow: var(--drawer-left-box-shadow);
}

.ant-drawer-right {
    right: 0;
}

.ant-drawer-right .ant-drawer-content-wrapper {
    right: 0;
}

.ant-drawer-right.ant-drawer-open .ant-drawer-content-wrapper {
    box-shadow: var(--drawer-right-box-shadow);
}

.ant-drawer-right.ant-drawer-open.no-mask {
    right: 1px;
    transform: translateX(1px);
}

.ant-drawer-top,
.ant-drawer-bottom {
    left: 0;
    width: 100%;
    height: 0;
}

.ant-drawer-top .ant-drawer-content-wrapper,
.ant-drawer-bottom .ant-drawer-content-wrapper {
    width: 100%;
}

.ant-drawer-top.ant-drawer-open,
.ant-drawer-bottom.ant-drawer-open {
    height: 100%;
    transition: transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
}

.ant-drawer-top {
    top: 0;
}

.ant-drawer-top.ant-drawer-open .ant-drawer-content-wrapper {
    box-shadow: var(--drawer-top-box-shadow);
}

.ant-drawer-bottom {
    bottom: 0;
}

.ant-drawer-bottom .ant-drawer-content-wrapper {
    bottom: 0;
}

.ant-drawer-bottom.ant-drawer-open .ant-drawer-content-wrapper {
    box-shadow: var(--drawer-bottom-box-shadow);
}

.ant-drawer-bottom.ant-drawer-open.no-mask {
    bottom: 1px;
    transform: translateY(1px);
}

.ant-drawer.ant-drawer-open .ant-drawer-mask {
    height: 100%;
    opacity: 1;
    transition: none;
    -webkit-animation: antdDrawerFadeIn 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
    animation: antdDrawerFadeIn 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
    pointer-events: auto;
}

.ant-drawer-title {
    margin: 0;
    color: var(--drawer-title-text);
    font-weight: 500;
    font-size: var(--font-size-default);
    line-height: 1.5rem;
}

.ant-drawer-content {
    position: relative;
    z-index: 1;
    overflow: auto;
    background-color: var(--drawer-content-bg);
    background-clip: padding-box;
    border: 0;
}

.ant-drawer-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: block;
    padding: 1.25rem;
    color: var(--drawer-close);
    font-weight: 700;
    font-size: var(--font-size-default);
    font-style: normal;
    line-height: 1;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: color 0.3s;
    text-rendering: auto;
}

.ant-drawer-close:hover {
    color: var(--drawer-close-hover);
    text-decoration: none;
}

.ant-drawer-header-no-title .ant-drawer-close {
    margin-right: var(--scroll-bar);
    padding-right: calc(1.25rem - var(--scroll-bar));
}

.ant-drawer-header {
    position: relative;
    padding: 1rem 1.5rem;
    background: var(--drawer-header-bg);
    color: var(--drawer-header-text);
}

.ant-drawer-header-no-title {
    background: var(--drawer-header-bg);
    color: var(--drawer-header-text);
}

.ant-drawer-wrapper-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
}

.ant-drawer-body {
    flex-grow: 1;
    padding: 1.5rem;
    overflow: auto;
    font-size: var(--font-size-default);
    line-height: 1.5rem;
    word-wrap: break-word;
}

.ant-drawer-footer {
    flex-shrink: 0;
    padding: .75rem 1rem;
}

.ant-drawer-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--drawer-mask-bg);
    opacity: 0;
    filter: alpha(opacity=45);
    transition: opacity 0.3s linear, height 0s ease 0.3s;
    pointer-events: none;
}

.ant-drawer-open-content {
    box-shadow: var(--drawer-box-shadow);
}

.ant-drawer .ant-picker-clear {
    background: var(--drawer-bg);
}

@-webkit-keyframes antdDrawerFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes antdDrawerFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}